
<div>
<% var file_name = Object.keys(this.file_name); %>
<% console.log('the file name is ' + file_name); %>
<% switch(file_name) { %>

  <!-- case 1 -->
  <% case 'contact': %>
  <% include ../contact/body %>
  <% break; %>
  <!-- end case 1 -->

  <!-- case 2 -->
  <% case 'variable_content2': %>
  <% include ../variable_content/content2 %>
  <% break; %>
  <!-- end case 2 -->

  <!-- case 3 -->
  <% case 'variable_content3': %>
  <% include ../variable_content/content3 %>
  <% break; %>
  <!-- end case 3 -->

  <!-- default case -->
  <% default: %>
  <% include ../variable_content/default_content %>
  <% break; %>
  <!-- end default case -->

<% } %>
</div>
